{% extends "../base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/show_when_checked.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Configurações</h1>
    <br />
    <div class="container">
        <div class="row" id="settings-form">
            <form method="POST" class="form-horizontal">{% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="{{ form.cost_kw_per_hour.auto_id }}" title="Valor em euros a pagar por cada kilowatt de potência.">
                        Custo(€) por kW/h:
                    </label>
                    <div class="col-sm-7">
                        <input name="cost_kw_per_hour" type="number" step="any" min="0" class="form-control" id="{{ form.cost_kw_per_hour.auto_id }}" placeholder="Custo(€)" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="{{ form.cost_m3.auto_id }}" title="Valor em euros a pagar por cada metro cúbico de água.">
                        Custo(€) por m³:
                    </label>
                    <div class="col-sm-7">
                        <input name="cost_m3" type="number" step="any" min="0" class="form-control" id="{{ form.cost_m3.auto_id }}" placeholder="Custo(€)" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-5 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input name="send_email" type="checkbox" id="{{ form.send_email.auto_id }}" value=""> Enviar alerta por e-mail
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Display if checkbox is checked -->
                <div class="form-group row toggle-visibility">
                    <label class="col-sm-5 col-form-label" for="{{ form.power_warning.auto_id }}" title="Se a potência instantânea ultrapassar o valor inserido, recebe um email a informá-lo.">
                        Limite de potência (W):
                    </label>
                    <div class="col-sm-7">
                        <input name="power_warning" type="number" step="any" min="0" class="form-control" id="{{ form.power_warning.auto_id }}" placeholder="Potência (W)">
                    </div>
                </div>
                <div class="form-group row toggle-visibility">
                    <label class="col-sm-5 col-form-label" for="{{ form.cubic_meters_warning.auto_id }}" title="Se o consumo instantâneo de água ultrapassar o valor inserido, recebe um email a informá-lo.">
                        Limite de água (L):
                    </label>
                    <div class="col-sm-7">
                        <input name="cubic_meters_warning" type="number" step="0.5" min="0" class="form-control" id="{{ form.cubic_meters_warning.auto_id }}" placeholder="Litros">
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-sm-offset-5 col-sm-12 text-left">
                        <button type="submit" class="btn btn-primary">Gravar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}