{% extends "../base.html" %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger fade in text-center">
        <span>Nome de utilizador ou palavra-chave errados. Tente novamente.</span>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
{% endif %}


<div class="container" id="login-form">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Login</strong></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="{% url 'login' %}">{% csrf_token %}
                        <div class="form-group row">
                          <label for="{{ form.username.auto_id }}" class="col-sm-5 col-form-label">Utilizador</label>
                          <div class="col-sm-7">
                              {{ form.username }}
                          </div>
                        </div>
                    <div class="form-group row">
                      <label for="{{ form.password.auto_id }}" class="col-sm-5 col-form-label">Palavra-chave</label>
                      <div class="col-sm-7">
                          {{ form.password }}
                      </div>
                    </div>
                    <div class="form-group last">
                      <div class="col-sm-offset-5 col-sm-12 text-left">
                          <button type="submit" class="btn btn-primary">Entrar</button>
                          <input type="hidden" name="next" value="{{ next }}">
                      </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">Ainda não criou uma conta? <a href="{% url 'signup' %}" class="">Registar</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}