{% extends '../base.html' %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-warning fade in text-center">
            {{ form.errors }}
        </div>
    {% endif %}

    <div class="container" id="signup-form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong class="">Signup</strong></div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="{% url 'signup' %}">{% csrf_token %}
                            <p><small>* Campos obrigatórios</small></p>
                            {% for field in form %}
                                <div class="form-group row">
                                    <label for="{{ field.auto_id }}" class="col-sm-5 col-form-label">
                                        {{ field.label }}
                                    </label>
                                    <div class="col-sm-7">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group last">
                              <div class="col-sm-offset-5 col-sm-12 text-left">
                                  <button type="submit" class="btn btn-primary">Registar</button>
                                  <input type="hidden" name="next" value="{{ next }}">
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}