@font-face {
    font-family: Anton;
    src: url("../fonts/Anton.ttf");
}

#menu-navbar{
    font-family: Anton;
}
    #menu-navbar a:hover{
        background:#eee;
    }
        #menu-navbar>ul>li>a:hover{
            color:black;
        }

/**
 *  Sets the site logo in the vertical center of the navbar
**/
.navbar-brand {
  padding: 0px;
}
    .navbar-brand>img {
      height: auto;
      padding: 5px;
      width: 50px;
    }


.hide-md-screen{
    display:none;
}
.hide-sm-screen{
    display:inline;
}

#content-wrapper{
    padding-left:5%;
    padding-right:5%;
}


#site-logo{
    width:250px;
    height:auto;
}

#login-form{
    padding-top:50px;
}
    #login-form input{
        max-width:100%;
    }

#signup-form{
    padding-top:50px;
}
    #signup-form input{
        max-width:100%;
    }

#login-info>hr{
    display:none;
}

.data-avg{
    width:50%;
    padding-top:10px;
    background:#eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
    .data-avg p{
        color:#aaa;
        font-family: Anton;
    }
        .data-avg p>strong{
            color:#999;
            font-family: Anton;
        }
    .show-avg-data{
        display:none;
    }
    .show-no-avg-data{
        display:none;
    }

#graph-container{
    margin-top:10px;
    max-height:400px
}

@media(max-width:768px){
    #content-wrapper{
        padding-left:1%;
        padding-right:1%;
    }

    .hide-md-screen{
        display:inline;
    }

    .hide-sm-screen{
        display:none;
    }

    #site-logo{
        max-width:50%;
    }

    .navbar-text{
        padding-left:10px;
    }

    #login-form{
        padding-top:5px;
    }

    #login-info>hr{
        display:block;
        margin-bottom:1px;
    }

    .alert span{
        clear:right;
    }
}