{% extends "../base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/no-data-to-display.js' %}"></script>
    {% if time_period == 'year' %}
        <script src="{% static 'js/energy_graph_year.js' %}"></script>
    {% elif time_period == 'month' %}
        <script src="{% static 'js/energy_graph_month.js' %}"></script>
    {% elif time_period == 'actual' %}
        <script src="{% static 'js/energy_graph_actual.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="page-content" class="col-md-12">
        <!-- Show average current, voltage(currently constant), power-->
        <div class="container-fluid data-avg">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if time_period == "year" %}
                        <p>Média do consumo do ultimo ano:</p>
                    {% elif time_period == "month" %}
                        <p>Média do consumo dos ultimos 30 dias:</p>
                    {% elif time_period == "actual" %}
                        <p>Média do último minuto:</p>
                    {% endif %}
                </div>
            </div>
            <div class="row show-avg-data">
                <div class="col-md-offset-3 col-md-2 text-center">
                    <p title="Média da corrente medida em ampéres.">Média Corrente: <strong id="avg_c">{{ averages.avg_current }}</strong>A</p>
                </div>
                <div class="col-md-2 text-center">
                    <p title="Média da tensão medida em volts.">Média Tensão: <strong id="avg_v">{{ averages.avg_voltage }}</strong>V</p>
                </div>
                <div class="col-md-2 text-center">
                    <p title="Média da potência medida em watts.">Média Potência: <strong id="avg_p">{{ averages.avg_power }}</strong>W</p>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="row show-avg-data">
                    <div class="col-md-12 text-center">
                        <p title="Custo calculado.">Custo: <strong id="cost">{{ averages.cost }}{{ currency }}</strong></p>
                    </div>
                </div>
            {% endif %}
                <div class="col-md-12 text-center show-no-avg-data">
                    <p>Não existem dados a apresentar.</p>
                </div>
            </div>
        </div>

        <!-- Graph plotting here -->
        <div id="graph-container">
        </div>
    </div>
{% endblock %}