{% extends "../base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/no-data-to-display.js' %}"></script>
    <script src="{% static 'js/highcharts_graph.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="page-content" class="col-md-12">
        <!-- Show average current, voltage(currently constant), power-->
        <div class="container-fluid data-avg">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if time_period == "year" %}
                        <p>Média do consumo do último ano:</p>
                    {% elif time_period == "month" %}
                        <p>Média do consumo dos últimos 30 dias:</p>
                    {% elif time_period == "recent" %}
                        <p>Média da última hora:</p>
                    {% endif %}
                </div>
            </div>
            <div class="row show-avg-data">
                <div class="col-md-offset-3 col-md-2 text-center">
                    <p title="Média da corrente medida em ampéres.">Média Corrente: <strong id="avg_c"></strong>A</p>
                </div>
                <div class="col-md-2 text-center">
                    <p title="Média da tensão medida em volts.">Média Tensão: <strong id="avg_v"></strong>V</p>
                </div>
                <div class="col-md-2 text-center">
                    <p title="Média da potência medida em watts.">Média Potência: <strong id="avg_p"></strong>W</p>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="row show-avg-data">
                    <div class="col-md-12 text-center">
                        <p title="Custo calculado.">Custo: <strong id="cost"></strong></p>
                    </div>
                </div>
            {% endif %}
                <div class="col-md-12 text-center show-no-avg-data">
                    <p>Não existem dados a apresentar.</p>
                </div>
            </div>
        </div>

        <!-- Graph plotting here -->
        <div id="graph-container">
        </div>
    </div>
{% endblock %}